@import "components/field/field.css";
@import "components/gameGrid/gameGrid.css";
@import "components/game/win.css";
@import "components/game/lose.css";
@import "components/game/start.css";

button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://opengameart.org/sites/default/files/sand_3_1.png");
}

#game {
    width: 900px;
    height: 900px;
    border: 15px solid #DAB74D;
}