.win {
    background: url("../../public/grass.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.win span {
    font-size: 50px;
    text-align: center;
    color: #589140;
    font-weight: bold;
}
.win__text-wrapper {
    width: 800px;
    height: 500px;
    background: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/e5fd04dbf0c146b.png") 0 0/100% 100% no-repeat;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.win__btn {
    border-radius: 0;
    min-width: 240px;
    padding: 0 15px;
    height: 60px;
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    background-color: #db9d33;
    border: 4px solid #f2ab3f;
    cursor: pointer;
    transition: background-color ease 0.2s;
}
.win__btn:hover {
    background-color: #FFE066;
    color: #5C2800;
}